.header {
    padding: 40px 0px;
    overflow: hidden;
    color: #f7fff7ff
}

.footer {
    padding: 20px 30px;
    background-image: url('images/black.jpg');
    color: #ffffff;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #ff6b6bff;
    text-underline-offset: 0.1em;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

.btn {
    border: 1px solid #292f36ff;
    font-weight: bold;
    color: #292f36ff ;
}

.btn:hover {
    
    background-color:#4ecdc4ff ;
    color: #292f36ff;
}

.img-cover {
    width: 100%;
   
    object-fit: contain;
}

.social {
    color: #ffffff;
}

.social:hover{
    color: blue; 
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

.org {
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.description {
    padding: 5px 18px;
    border-top: none;
}

.edu:focus  {
    outline: none;
}

.org.edu:hover {
    background-color:#4ecdc4ff ;
}

.description.edu {
    border: 1px solid #4ecdc4ff;
}

.job:focus  {
    outline: none;
}

.job:hover {
    background-color: #ffe66dff;
}

.description.career {
    border: 1px solid #ffe66dff;
}

.skill:focus  {
    outline: none;
}

.skill:hover {
    background-color:#ff6b6bff ;
}

.description.skill {
    border: 1px solid #ff6b6bff;
}

.square {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 10px;
}

.metal {
    color: #292f36ff;
}

.teal {
    color: #4ecdc4ff;
}

.mint-cream {
    color: #f7fff7ff;
}

.sweet {
    color: #ff6b6bff;
}

.yellow {
    color:  #ffe66dff;
}

.metal-b {
    background-color: #292f36ff;
}

.teal-b {
    background-color: #4ecdc4ff;
}

.mint-cream-b {
    background-color: #f7fff7ff;
}

.sweet-b {
    background-color: #ff6b6bff;
}

.yellow-b {
    background-color:  #ffe66dff;
}

/* CSS HEX 
--gunmetal: #292f36ff;
--medium-turquoise: #4ecdc4ff;
--mint-cream: #f7fff7ff;
--bittersweet: #ff6b6bff;
--naples-yellow:


--dark-sky-blue: #74b3ceff;
--steel-teal: #508991ff;
--prussian-blue: #172a3aff;
--warm-black: #004346ff;
--mountain-meadow: #09bc8aff;


--dark-sea-green: #83b692ff;
--melon: #f9ada0ff;
--brink-pink: #f9627dff;
--cinnamon-satin: #c65b7cff;
--dark-byzantium: #5b3758ff;

--palatinate-purple: #5c2751ff;
--liberty: #6457a6ff;
--maximum-blue-purple: #9dacffff;
--sky-blue-crayola: #76e5fcff;
--maximum-blue: #4bc0d9ff;

--violet-web: #ea7af4ff;
--fandango: #b43e8fff;
--purple: #6200b3ff;
--indigo: #3b0086ff;
--dark-purple: #290628ff;
*/
