/* CSS HEX 
--citron: #8ea604ff;
--orange-yellow: #f5bb00ff;
--marigold: #ec9f05ff;
--chocolate-web: #d76a03ff;
--rust: #bf3100ff;

--rich-black-fogra-39: #06070eff;
--ming: #026c7cff;
--ochre: #d17a22ff;
--rufous: #a40606ff;
--rosewood: #5a0002ff;
*/
.orange-border {
    border-color: #d17a22ff;
}

.orange {
    color: #d17a22ff;
}

.red-border {
    border-color: #a40606ff;
}

.red {
    color: #a40606ff;
}

.rosewood-border {
    border-color: #5a0002ff;
}

.rosewood {
    color: #5a0002ff;
}

body, html {
    height: 100%;
  }


nav {
    background-color: #06070eff;
}
  
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/IMG_0036.JPG");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.header {
    padding: 40px 0px;
    overflow: hidden;
    color: #f7fff7ff
}

.footer {
    padding: 20px 30px;
    background-image: url('images/black.jpg');
    color: #ffffff;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #ff6b6bff;
    text-underline-offset: 0.1em;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

.btn {
    border: 1px solid #ffffff;
    font-weight: bold;
    color: #ffffff ;
}



.btn:hover {
    
    background-color:#5a0002ff;
    color:#ffffff;
}

.img-cover {
    width: 100%;
   
    object-fit: contain;
}

.social {
    color: #ffffff;
}

.social:hover{
    color: blue; 
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

.org {
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.description {
    padding: 5px 18px;
    border-top: none;
}

.edu:focus  {
    outline: none;
}

.org.edu:hover {
    background-color:#4ecdc4ff ;
}

.description.edu {
    border: 1px solid #4ecdc4ff;
}

.job:focus  {
    outline: none;
}

.job:hover {
    background-color: #ffe66dff;
}

.description.career {
    border: 1px solid #ffe66dff;
}

.skill:focus  {
    outline: none;
}

.skill:hover {
    background-color:#ff6b6bff ;
}

.description.skill {
    border: 1px solid #ff6b6bff;
}

.square {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 10px;
}

.metal {
    color: #292f36ff;
}

.teal {
    color: #4ecdc4ff;
}

.mint-cream {
    color: #f7fff7ff;
}

.sweet {
    color: #ff6b6bff;
}

.yellow {
    color:  #ffe66dff;
}

.metal-b {
    background-color: #292f36ff;
}

.teal-b {
    background-color: #4ecdc4ff;
}

.mint-cream-b {
    background-color: #f7fff7ff;
}

.sweet-b {
    background-color: #ff6b6bff;
}

.yellow-b {
    background-color:  #ffe66dff;
}


